/*
wood brown: A89F68;
army green: 41521F;
*/
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

}

.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar-brand, .navbar-nav li a{
	color: #FFF;
	font-weight: bold;
}

.navbar-toggle .icon-bar{
	background-color: #757070;
}

.navbar-toggle {
	border: 1px solid #FFF;
}

.textoSeccion1{
    padding-top: 285px;
    color: #FFF;
}

.btn{
	background-color: #41521F;
	color: #FFF;
	font-weight: bold;
}

.second-section, .five-section, .four-section{
	margin: 90px auto;
	color: #757070;
}

.brown{
	color: #A89F68;
	font-weight: bold;
}

.third-section{
	background-color: #A89F68; 
	padding: 80px 0;
	color: #FFF;
}

.cosita{
	border: 10px solid #FFF;
}

.green{
	color: #41521F;
	font-weight: bold;
}

h2{
    font-weight: bold;
}

.fa{
	padding-top: 30px;
	color: #A89F68;
	font-size: 80px; 
}

.six-section{
	background-color: #A89F68; 
	padding: 80px 0;
}

.valor{
	color: #FFF;
	font-size: 7em;
}

sup{
   top: -70px;
   font-size: 30px;
}

sub{
	font-size: 30px;
}

.lista p{
	padding: 5px;
	border-top: 1px solid #FFF;
}

.espacio{
	margin-top: 50px;
}

footer{
	background-color: #41521F;
	color: #FFF;
	padding: 80px;
}

.listaFooter li a{
    color: #A89F68; 
}

.modal-title{
	color: #000;
}
